/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap") * { */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: none;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* NAVIGATION STYLING */

.Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 55px;
  text-align: center;
}

.list_items {
  display: flex;
  gap: 40px;
  font-size: 36px;
  font-weight: 600;
  color: rgb(248, 196, 118);
  align-items: center;
  text-align: center;
  cursor: pointer;
}


.Nav img {
  font-size: 80px;
  align-items: center;
  justify-content: center;
} 

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}



.order{
  display: flex;
  justify-content: center;
  align-items: center;
}


.Nav .order i {
  cursor: pointer;
  font-size: 35px;
  padding: 15px;
  color: rgb(238, 190, 119);
}

.Add {
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: rgb(238, 185, 106);
  font-family: "Times New Roman", Times, serif;
}

.login {
  border: 4px solid rgb(20, 19, 19);
  justify-content: center;
  align-items: center;
  color: rgb(13, 12, 12);
  border-radius: 14px 0px;
  font-size: 22px;
  width: 180px;
  height: 55px;
  margin-left: 30px;
}



/* FIRST SECTION STYLING */
.section {
  background-image: url(./images/desert\ 5.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section h1 {
  font-size: 160px;
  font-weight: 80%;
  text-align: center;
  align-items: center;
  text-align: center;
  color: black;
}

.satisfy {
  word-spacing: 4px;
  text-indent: 10px;
  letter-spacing: 2px;
  font-size: 70px;
  font-weight: bolder;
  text-align: center;
  align-items: center;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: rgb(215, 13, 13);
}

/* SECOND SECTION STYLING */

.second_section {
  padding: 40px;
}

.MENU {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 26px;
}

.our_menu_list {
  font-size: 50px;
  text-align: center;
  align-items: center;
  padding: 40px;
}

.menu_item {
  background-color: #e0e0e0;
}

.top_item {
  height: 70%;
}

.top_item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4d9d9;
  padding: 10px;
}

.bottom_item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e4d9d9;
  height: 23%;
  width: 100%;
}

.bottom_item h1 {
  font-size: 52px;
  font-weight: 900;
  padding: 10px;
}

.description {
  font-size: 25px;
  padding: 12px;
}

/* THIRD SECTION STYLING*/

.third_section {
  padding: 40px;
}

.bread {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 26px;
}

.headline {
  font-size: 50px;
  text-align: center;
  align-items: center;
  padding: 4px 40px;
  margin-bottom: 60px;
}

.bread_list {
  background-color: #e0e0e0;
}

.top_item {
  height: 70%;
}

.top_item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4d9d9;
  padding: 10px;
}

.bottom_item_2 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e4d9d9;
  height: 37%;
  width: 100%;
}

.bottom_item_2 h1 {
  font-size: 52px;
  font-weight: 900;
  text-align: center;
}

.description_2 {
  font-size: 25px;
  padding: 12px;
}

.SHOP {
  font-size: 42px;
  font-weight: 900;
  padding: 12px;
}

.btn_1 {
  border: 4px solid rgb(213, 151, 151);
  color: rgb(13, 12, 12);
  background-color: white;
  border-radius: 14px;
  font-size: 22px;
  width: 160px;
  margin-top: 5px;
  padding: 12px;
  height: 55px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

/* FOURTH SECTION STYLING */

.fourth_section {
  padding: 40px;
}

.cake {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 26px;
}

.headline_2 {
  font-size: 50px;
  text-align: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 2%;
}

.cake_list {
  background-color: #e0e0e0;
}

.top_item {
  height: 70%;
}

.top_item img {
  margin-bottom: 8%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4d9d9;
  padding: 10px;
}

.bottom_item_3 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e4d9d9;
  height: 39%;
  width: 100%;
}

.bottom_item_3 h1 {
  font-size: 52px;
  font-weight: 900;
  text-align: center;
}

.description_3 {
  font-size: 25px;
  padding: 12px;
}

.SHOP {
  font-size: 42px;
  font-weight: 900;
  padding: 12px;
}

.btn_1 {
  border: 4px solid rgb(213, 151, 151);
  color: rgb(13, 12, 12);
  background-color: white;
  border-radius: 14px;
  font-size: 22px;
  width: 160px;
  margin-top: 5px;
  padding: 12px;
  height: 55px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

/* FIFTH SECTION STYLING */

.fifth_section {
  padding: 40px;
}

.desert {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 26px;
}

.headline_3 {
  font-size: 50px;
  text-align: center;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 2%;
}

.desert_list {
  background-color: #e0e0e0;
}

.top_item {
  height: 70%;
}

.top_item img {
  margin-bottom: 10%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e4d9d9;
  padding: 10px;
}

.bottom_item_4 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: #e4d9d9;
  height: 31%;
  width: 100%;
}

.bottom_item_4 h1 {
  font-size: 52px;
  font-weight: 900;
  text-align: center;
}

.description_4 {
  font-size: 25px;
  padding: 12px;
}

.SHOP {
  font-size: 42px;
  font-weight: 900;
  padding: 12px;
}

.btn_1 {
  border: 4px solid rgb(213, 151, 151);
  color: rgb(13, 12, 12);
  background-color: white;
  border-radius: 14px;
  font-size: 22px;
  width: 160px;
  margin-top: 5px;
  padding: 12px;
  height: 55px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

/* FOOTER STYLING */

footer {
  background-color: rgb(167, 161, 161);
  width: 100%;
  height: 50vh;
  margin-top: 30px;
  /* padding: 10px; */
}

.list_2 {
  font-size: 25px;
}

.list_2 h1 {
  padding: 10px;
}

.list_2 li {
  font-size: 24px;
  font-weight: 200;

  cursor: pointer;
}

.hot_bakery h3 {
  font-size: 24px;
  font-weight: 200;
  padding-top: 10%;
}

.hot_bakery h2 {
  font-size: 50px;
}

.first_paragraph {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10%;
}

.icons_1 {
  padding-top: 15px;
  gap: 5rem;
  font-size: 30px;
  color: black;
  padding-right: 30px;
}

.last_paragraph {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 5px 5rem;
}

.last_paragraph h1 {
  font-size: 28px;
}
.icons_2 {
  font-size: 40px;
  justify-content: space-between;
  align-items: center;
}

.icons_2 i {
  background-color: white;
  color: rgb(16, 16, 16);
  padding: 4px 7px;
  border-radius: 8px;
}

.hello {
  font-size: 30px;
  font-weight: 300;
  background-position: center;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 40px;
  margin-top: 40px;
}
